<div>
        <div class="status-report panel panel-default">
        <h2 class="panel-heading"> Profile</h2>
        <div class="panel-body">

        <div class="row" style="padding: 20px;">
            <div class="col">
                <label>Name: {{user.username}}</label>
            </div>
            <div class="col">
                <label>Karma: {{user.karma}} </label>
            </div>
            <div class="col">
                <label>E-mail: {{user.email}}</label>
            </div>
            <div class="col">
                <label>password: ********</label>
            </div>
      </div>
      <label>Change password</label>
      <form ng-submit="submit()">
        <div>
          <label for="pwd">skriv nyt password:</label>
          <input type="password" class="form-control" ng-model="pwd1"/>
        </div>
        <div>
          <label for="pwd">Gentag password:</label>
          <input type="password" class="form-control" ng-model="pwd2"/>
        </div>
        <button type="submit" class="btn btn-primary" id="submit" value="Submit">submit</button>
      </form>
    </div>
  </div>
</div>
