<h1 style="color:#105cb6">View7</h1>
<br>
<br>

<div class="view7PostContainer" >
    <!--
        THE POST SECTION
    -->
    <div class="postKarma">
        <a href="" ng-click='upvotePost(post)'><div class="glyphicon glyphicon-triangle-top"></div></a>
        <div>{{post.post_karma}}</div>
        <a href="" ng-click='downvotePost(post)'><div class="glyphicon glyphicon-triangle-bottom"></div></a>
    </div>
    <div class="postTitle">
        <span>{{post.post_title}}</span>
    </div>
    <div class="postTimestamp">
        <span>{{post.timeStamp}} by {{post.username}}</span>
    </div>
    <div class="postMsg">
        <span>{{post.post_text}}</span>
    </div>
</div>
<hr>
    <!--
        ADD NEW COMMENT TO POST
    -->
    <div class="postTitle">
        <span>{{post_title}}</span>
    </div>    
    <div class="postTitle">
        <span>{{post_title}}</span>
    </div>

<div class="view7container" ng-repeat="comment in comments| orderBy: '-post_karma'">


    <!--
        THE LIST OF COMMENTS TO THE POST
    -->
    <div class="view7vote">
        <a href="" ng-click='upvoteComment(comment)' class="glyphicon glyphicon-arrow-up" title="Upvote"></a>
        <a href="" ng-click='downvoteComment(comment)' class="glyphicon glyphicon-arrow-down" title="Downvote"></a>
    </div>

    <div class="author">
        <a href="" title="Hide comment">&#10005;</a>&nbsp
        <span>{{comment.username}}</span>
        //
        <span class="commentKarma"> <b> {{comment.post_karma}} points </b> </span>
        //
        <span class="commentTimestamp">Added x hours ago</span>

    </div>

    <div class="commentary">
        <span class="">
            {{comment.post_text}}
        </span>
    </div>

</div>