<br>
<h1 style="color:#105cb6">View6</h1>
<br>
<br>

<div class="container">
    <div class="col-md-5">
        <div class="form-area">
            <form role="form">
                <br style="clear:both">
                <h3 style="margin-bottom: 25px; text-align: center;">New post</h3>
                <div class="form-group">
                    <label>Title</label>
                    <input type="text" class="form-control" id="title" ng-model="post_title" placeholder="Title" required>
                </div>
                <div class="form-group">
                    <label>Website</label>
                    <input type="text" class="form-control" id="url" ng-model="post_url" placeholder="Website">
                </div>
                <div class="form-group">
                    <label>Text</label>
                    <textarea class="form-control" rows="5" id="postText" ng-model="post_text" placeholder="Write something..."></textarea>
                </div>

                <button type="button" id="submit" name="submit" ng-click="submitPost()" class="btn btn-primary pull-right">Submit story</button>
            </form>
        </div>
    </div>
</div>

