<br>
<h1 style="color:#105cb6">View1</h1>
<br>
<br>
<div class="view1container" ng-repeat="post in posts">

        <div class="post">
            <span>1</span>
        </div>

        <div class="vote">
            <a href="" class="glyphicon glyphicon-arrow-up"></a>
            <a href="" class="glyphicon glyphicon-arrow-down"></a>
        </div>

        <div class="title" >
                <span>{{post.post_title}}</span>
                (<a href="" >{{post.post_url}}</a>)
        </div>

        <div class="stats" >
           <span class="">
                <a href="">123</a>
           </span>
           <span class="">
                points // submitted by
           </span>
           <span class="">
                <a href="">{{post.username}}</a>
           </span>
           //
           <span class="">
                <a href="">Timestamp</a>
           </span>
           //
           <span class="">
               <a href="" ng-click="viewPost(post.hanesst_id)">{{post.commentCount}} comments</a>
           </span>
        </div>
    </div>
    
