<br>
<h1 style="color:#105cb6">View1</h1>
<br>
<br>
<div class="view1container" ng-repeat="post in posts | orderBy: '-post_karma'">

        <div class="post">
            <span>{{$index+1}}</span>
        </div>

        <div class="vote">
            <a ng-show="isAuthenticated" href="" ng-click='upvote(post)' class="glyphicon glyphicon-arrow-up"></a>
            <a ng-show="isAuthenticated" href="" ng-click='downvote(post)' class="glyphicon glyphicon-arrow-down"></a>
        </div>

        <div class="title" >
                <span>{{post.post_title}}</span>
                (<a href="" >{{post.post_url}}</a>)
        </div>

        <div class="stats" >
           <span class="">
               <b>{{post.post_karma}} points </b>
           </span>
            //
           <span class="">
                 submitted by
           </span>
           <span class="">
                <a href="" ng-click="viewAuthor(post)">{{post.username}}</a>
           </span>
           //
           <span class="">
                {{post.timeStamp}}
           </span>
           //
           <span class="">
               <a href="" ng-click="viewPost(post)">{{post.comments.length}} comments</a>
           </span>
        </div>
    </div>
